%head
  %link(rel="stylesheet" type="text/css" href="stylesheets/main.css")
%body
  .container-fluid
    .row
      .col-xs-12.col-md-5
        .about
          .container-fluid
            .row
              .col-xs-12
                .about__image
                  %img(src="images/rachel-sample-2.jpg")
            .row
              .col-xs-12
                .about__copy
                  %h1.about__copy__headline
                    Hi I'm Rachel.
                  %h3.about__copy__body I like food and public health. I also like educating people about food. This is the section of the website where I describe myself in just a few sentences.
      .col-xs-12.col-md-7
        .resume
          .row
            .col-xs-12.col-md-3
              .resume__title
                %h2 Work
            .col-xs-12.col-md-9
              .resume__contents
                .resume__content--job
                  %h4 University of Minnesota Lillehei Heart Institute, Ask About Aspirin Project
                  %p Community Health Specialist & Practice Facilitator
                  %p August 2015 to Present
                  %ul
                    %li Rally health system partners to implement statewide heart disease prevention project
                    %li Nurture sustainable partnerships with multiple health care systems and clinic sites
                    %li Collaborate with health system quality improvement and clinical staffing teams
                    %li Evaluate progress through self-designed qualitative data collection instrument
                .resume__content--job
                  %h4 Michigan Department of Health and Human Services, Environmental Health Division
                  %p Program Manager & Health Educator
                  %p March 2014 to August 2015
                  %ul
                    %li Cultivated sustained relationships with State agencies serving women of reproductive age
                    %li Boosted program success with an organized statewide health education campaign
                    %li Educated hundreds of professionals with live trainings of Eat Safe Fish learning module
                    %li Designed health education materials using InDesign & Photoshop
                .resume__content--job
                  %h4 Kokua Kalihi Valley Comprehensive Family Services
                  %p ROOTs Project Intern
                  %p May 2013 to August 2013
                  %ul
                    %li Created school garden training materials for teachers
                    %li Improved community health with engagement at communal dining and family meal programs
                    %li Recruited local community members to join in community garden and meal
          .row
            .col-xs-12.col-md-3
              .resume__title
                %h2 Education
            .col-xs-12.col-md-9
              .resume__contents
                .resume__contents--school
                  %h4 Master of Public Health
                  %p University of Michigan School of Public Health
                  %p December 2013
                  %ul
                    %li Department of Health Behavior and Health Education
                    %li Specialization in Communities, Networks and Ecological Practice
                    %li Certificate in Risk Sciences and Human Health
                    %li Work Study position with the Ecology Center
                    %li Dean’s Award Recipient
                    %li Women in Health Leadership, Co-Communications Chair
                    %li Health Behavior and Health Education Student Association, Social Chair
                .resume__contents--school
                  %h4 Bachelor of Science in Dietetics
                  %p Central Michigan University
                  %p May 2009
                  %ul
                    %li Kappa Omicron Nu, Kappa Gamma Zeta Chapter, President 2008
                    %li Student Dietetic Association, President 2008
          .row
            .col-xs-12.col-md-3
              .resume__title
                %h2 Volunteer Experience
            .col-xs-12.col-md-9
              .resume__contents
                %ul
                  %li Junior League of Minneapolis
                  %li Open Arms of Minnesota
                  %li Allen Neighborhood Center
          .row
            .col-xs-12.col-md-3
              .resume__title
                %h2 Professional Affiliations
            .col-xs-12.col-md-9
              .resume__contents
                %ul
                  %li Academy of Nutrition and Dietetics
                  %li Hunger and Environmental Nutrition Dietetic Practice Group
                  %li Public Health and Community Nutrition Dietetic Practice Group
                  %li Nutrition Entrepreneurs Dietetic Practice Group
                  %li Nutrition Education for the Public Dietetic Practice Group

