@import "flexgrid";
@import url('https://fonts.googleapis.com/css?family=Cantarell');

body {
  font-family: 'Cantarell', sans-serif;
}

ul {
  padding-left: 1em;
}

.about {
  border-right: 10px solid;
  height: 100%;


  &__image {
    img {
      width: 100%;
    }
  }

  &__copy {

    &__headline {
      margin-bottom: 0;
    }

    &__body {
      margin-top: 0;
    }
  }
}

.resume {
  height: 100%;
  overflow: scroll;

  &__title {
    text-align: right;
    background-image: radial-gradient(#eee 15%, transparent 15%),
    radial-gradient(#eee 40%, transparent 40%);
    background-size:60px 60px;
    background-position: 0 0, 30px 30px;
  }

  &__contents {
    padding-left: 1em;
    border-left: 2px solid;
  }
}
