@import "flexgrid";
@import url('https://fonts.googleapis.com/css?family=Cantarell');

body {
  font-family: 'Cantarell', sans-serif;
}

ul {
  padding-left: 1em;
}


h2 {
  margin-top: 0;
}


.about {
  border-right: 3px solid #37bbe4;
  height: 100%;
  padding-top: 2em;

  &__border {
    border-right: 10px solid;
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__copy {
    color: #8f9191;
    h3 {
      display: inline;
    }

    &__headline {
      margin-bottom: 0;

      .larger {
        font-size: 2.5em;
        color: black;
      }
    }

    &__body {
      margin-top: 0;

      .larger {
        font-size: 2em;
        color: black;
      }
    }
  }
}

.resume {
  height: 100%;
  overflow: scroll;
  margin-top: 2em;


  &__contents {
    padding-left: 1em;
    border-left: 3px solid;

    &--job {
      border-left: 2px solid #ee8012;
    }

    &--edu {
      border-left: 2px solid #e7b300;
    }

    &--volunteer {
      border-left: 2px solid #3dbd5d;
    }

    &--affiliations {
      border-left: 2px solid #fe9f97;
    }
  }
}
